{
  "presets": [
    [
      "next/babel", {
        "transform-runtime": {
          "absoluteRuntime": false,
          "runtime": "automatic",
          "corejs": 3,
          "regenerator": true,
          "helpers": true,
          "useESModules": false
        },
      "targets": {
        "node": "current"
      },
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "src": "./src",
              "components": "./src/components",
              "styling": "./src/styling",
              "ex1": "./src/ex1"
            }
          }
        ]
      ]
    }
    ]
  ]
}
