{
  "presets": [
    [
      "next/babel", {
        "transform-runtime": {
          "absoluteRuntime": false,
          "corejs": 3,
          "regenerator": true,
          "helpers": true,
          "useESModules": false
        }
      }
    ]
  ],
  "plugins": [

  ]
}
